#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100%;
  transition: margin 0.25s ease-out;
}
#page-content-wrapper {
  min-width: 0;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  overflow: auto;
}

.App .container-fluid > .row {
  margin-right: 0 !important;
  height: 100vh;
  flex-wrap: nowrap !important;
}
